<setting>
	<options debug="true" backup="false" logdir="./logs/" redirect="false" ctrlkey="^^*SDASD)A)$%">
		<heartbeat interval="20" timeout="50"></heartbeat>
		<redis address="127.0.0.1:6379" password="" dbnum="0"></redis>
	</options>
	<nacos enable="true" subscribe="false" level="debug" logdir="/tmp/nacos/log" cachedir="/tmp/nacos/cache" contextpath="/nacos">
		<item ip="121.37.211.227" port="8848" namespaceid="eaa4c5d3-d6a5-4502-9deb-a4875decd950" groupname="GAME_GROUP" clusters="Games" maxload="1"></item>
	</nacos>
	<proxy>
		<busline name="ws" addr=":9990" type="websocket" redirect="" tls="false" realipmode="http">
			<route path="/"></route>
			<line serverid="login">
				<node ip="127.0.0.1" port="9958" maxload="1" enable="false"></node>
			</line>
			<line serverid="login">
				<node ip="127.0.0.1" port="9970" maxload="2" enable="true"></node>
			</line>
			<line serverid="jetten">
				<node ip="192.168.23.102" port="9950" maxload="20000" enable="true"></node>
			</line>
		</busline>
		<busline name="tcp" addr=":20002" type="tcp" redirect="" tls="false" realipmode="tcp">
			<line serverid="Login">
				<node ip="127.0.0.1" port="10021" maxload="50000" enable="false"></node>
			</line>
			<line serverid="jetten">
				<node ip="192.168.23.102" port="9978" maxload="20000" enable="true"></node>
				<node ip="192.168.23.102" port="9968" maxload="20000" enable="true"></node>
			</line>
		</busline>
	</proxy>
	<api addr=":10001" type="http" username="##sss^^^" password="(S?SS&amp;^.14" registerpath="/register" removepath="/remove" querypath="/info" reloadpath="/reload" enablepath="/enableLine" disablepath=""></api>
</setting>